<div class="content-wrapper" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="row">
        <div class="col-md-8 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Actividad</h4>
                    <form class="forms-sample">
                        <div class="form-group">

                            <div id="imagen_id" style="display:none" th:text="${id}"></div>

                            <div class="row">
                                <div class=" col-md-4">
                                    <label>Id</label>
                                    <input th:readonly="readonly" th:value="${imagen.id}" th:id="imagen_id" th:class="form-control">
                                </div>

                                <div class=" col-md-6">
                                    <label>Categoria Imagen</label>
                                    <select style="width:300px;" class="custom-select" name="imagen_categoria" id="imagen_categoria">
                                        <option th:each="categoria : ${categorias}" th:value="${categoria.id}" th:text="${categoria.titulo}"></option>
                                    </select>
                                </div>
                                <br>
                            </div>
                            <div class="row">
                                <div class=" col-md-4">
                                    <label>Titulo Imagen</label>
                                    <input th:value="${imagen.titulo}" th:id="imagen_titulo" th:class="form-control">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-8">
                                        <label>Imagen<strong> (Tiene que estar dentro de la carpeta 'misArchivos/img')</strong></label>
                                        <input type="file" id="imagen_archivo" class="form-control" th:value="${imagen.archivo}">
                                    </div>
                                    <br>
                                    <div id="contenedor_imagen_img" class="col-md-6" style="width:600px; height:300px;">
                                        <img style="width:600px; height:300px;" th:src="'../../misArchivos/img/'+${imagen.archivo}">
                                    </div>
                                </div>
                            </div>
                            <br>


                        </div>
                        <button type="submit" class="btn btn-primary me-2" id="enviar_imagen">Guardar Datos</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>