<div class="content-wrapper" xmlns:th="https://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="https://www.thymeleaf.org">
    <div class="row">
        <div class="col-md-8 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Imagen</h4>
                    <form method="POST" enctype="multipart/form-data" action="guardaImagen">
                        <div class="form-group">

                            <div id="imagen_id" name="imagen_id" style="display:none" th:text="${id}"></div>

                            <div class="row">
                                <div class=" col-md-4">
                                    <label>Id</label>
                                    <input th:readonly="readonly" name="imagen_id_b" th:value="${imagen.id} ?: '0'"
                                           th:id="imagen_id" th:class="form-control">
                                </div>

                                <div class=" col-md-6">
                                    <label>Categoria Imagen</label>
                                    <select style="width:300px;" class="custom-select" name="imagen_categoria"
                                            id="imagen_categoria">
                                        <option th:each="categoria : ${categorias}" th:value="${categoria.id}"
                                                th:text="${categoria.titulo}"></option>
                                    </select>
                                </div>
                                <br>
                            </div>
                            <div class="row">
                                <div class=" col-md-4">
                                    <label>Titulo Imagen</label>
                                    <input th:value="${imagen.titulo}" name="imagen_titulo" th:id="imagen_titulo"
                                           th:class="form-control">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="col-md-8">

                                        <div th:if="${message}">
                                            <h2 th:text="${message}"/>
                                        </div>

                                        <div>
                                            <table>
                                                <tr>
                                                    <td>File to upload:</td>
                                                    <td><input type="file" name="imagen_archivo"/></td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td><input type="submit" value="Upload"/></td>
                                                </tr>
                                            </table>
                                        </div>

                                        <div>
                                            <ul>
                                                <li th:each="file : ${files}">
                                                    <a th:href="${file}" th:text="${file}"/>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                    <br>
                                    <div id="contenedor_imagen_img" class="col-md-6" style="width:600px; height:300px;">
                                        <img style="width:600px; height:300px;"
                                             th:src="'../../misArchivos/img/'+${imagen.archivo}">
                                    </div>
                                </div>
                            </div>
                            <br>

                            <input type="submit" class="btn btn-primary me-2" id="enviar_imagen">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../../misArchivos/js/back/guardaImagen.js"></script>
<script src="../../misArchivos/js/back/subirImagen.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/additional-methods.min.js"></script>