<div class="content-wrapper" xmlns:th="http://www.w3.org/1999/xhtml">
  <div class="row">
    <div class="col-md-8 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Enviar correo</h4>
          <form class="forms-sample">
            <div class="form-group">

              <div id="email_id" style="display:none" th:text="${id}"></div>

              <div class=" col-md-6">
                <label>Asunto</label>
                <input th:readonly="readonly" th:value="${mail.subject}" th:id="email_subject" th:class="form-control">
              </div>
              <div class=" col-md-6">
                <label>Asunto</label>
                <input th:readonly="readonly" th:value="${mail.nombre}" th:id="email_subject" th:class="form-control">
              </div>
              <div class=" col-md-6">
                <label>Email</label>
                <input th:readonly="readonly" th:value="${mail.emailto}" th:id="email_address" th:class="form-control">
              </div>
              <br>
              <textarea style="height:auto;" class="form-control textarea p-input" id="p2" rows="3" placeholder="Parrafo">
              </textarea>
            </div>
            <button type="submit" class="btn btn-primary me-2" id="enviar_email">Enviar Correo</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<script src="../../misArchivos/js/tinymce/js/tinymce/tinymce.min.js"></script>
<script src="../../misArchivos/js/tinymce/js/tinymce/skins/content/tinymce-5/content.min.css"></script>
<script src="../../misArchivos/js/tinymce/js/tinymce/plugins/anchor/plugin.min.css"></script>
<script src="../../misArchivos/js/tinymce/js/tinymce/plugins/link/plugin.min.css"></script>
<script src="../../misArchivos/js/tinymce/js/tinymce/plugins/advlist/plugin.min.css"></script>
<script src="../../misArchivos/js/tinymce/js/tinymce/plugins/wordcount/plugin.min.css"></script>
<script src="../../misArchivos/js/tinymce/js/tinymce/plugins/image/plugin.min.css"></script>
<script src="../../misArchivos/js/tinymce/js/tinymce/plugins/charmap/plugin.min.css"></script>
<script src="../../misArchivos/js/tinymce/js/tinymce/plugins/media/plugin.min.css"></script>



