<div class="content-wrapper" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="row">
        <div class="col-md-8 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Actividad</h4>
                    <form class="forms-sample">
                        <div class="form-group">

                            <div id="imagen_id" style="display:none" th:text="${id}"></div>

                            <div class="row">
                                <div class=" col-md-4">
                                    <label>Id</label>
                                    <input th:readonly="readonly" th:value="${imagen.id}" th:id="imagen_id" th:class="form-control">
                                </div>

                                <div class=" col-md-6">
                                    <label>Nombre</label>
                                    <input th:value="${imagen.titulo}" th:id="imagen_titulo" th:class="form-control">
                                </div>
                                <br>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-8">
                                        <label>Imagen<strong> (Tiene que estar dentro de la carpeta 'misArchivos/img')</strong></label>
                                        <input type="file" id="imagen_archivo" class="form-control" th:value="${imagen.archivo}">
                                    </div>
                                    <br>
                                    <div id="contenedor_imagen_img" class="col-md-6" style="width:600px; height:300px;">
                                        <img style="width:600px; height:300px;" th:src="'../../misArchivos/img/'+${imagen.archivo}">
                                    </div>
                                </div>
                            </div>
                            <br>


                        </div>
                        <button type="submit" class="btn btn-primary me-2" id="enviar_imagen">Guardar Datos</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../../misArchivos/js/tinymce/js/tinymce/tinymce.min.js"></script>
<script src="../../misArchivos/js/tinymce/js/tinymce/skins/content/tinymce-5/content.min.css"></script>
<script src="../../misArchivos/js/tinymce/js/tinymce/plugins/anchor/plugin.min.css"></script>
<script src="../../misArchivos/js/tinymce/js/tinymce/plugins/link/plugin.min.css"></script>
<script src="../../misArchivos/js/tinymce/js/tinymce/plugins/advlist/plugin.min.css"></script>
<script src="../../misArchivos/js/tinymce/js/tinymce/plugins/wordcount/plugin.min.css"></script>
<script src="../../misArchivos/js/tinymce/js/tinymce/plugins/image/plugin.min.css"></script>
<script src="../../misArchivos/js/tinymce/js/tinymce/plugins/charmap/plugin.min.css"></script>
<script src="../../misArchivos/js/tinymce/js/tinymce/plugins/media/plugin.min.css"></script>


