<div class="content-wrapper" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="row">
        <div class="col-md-8 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Usuario</h4>
                    <form class="forms-sample">
                        <div class="form-group">

                            <div id="usuario_id" style="display:none" th:text="${id}"></div>

                            <div class="row">
                                <div class=" col-md-4">
                                    <label>Usuario</label>
                                    <input th:value="${usuario.user}" th:id="usuario_username" th:class="form-control">
                                </div>

                                <div class=" col-md-4">
                                    <label>Contraseña</label>
                                    <input type="password" th:value="${usuario.password}" th:id="usuario_password" th:class="form-control">
                                </div>
                                <div class=" col-md-4">
                                    <label>Mostrar contraseña</label>
                                    <br>
                                    <input type="checkbox" id="mostrar_contraseña" class="form-check-input">
                                </div>
                                <br>
                            </div>

                        </div>
                        <button type="submit" class="btn btn-primary me-2" id="enviar_usuario">Guardar Usuario</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>