<div class="content-wrapper" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Imágenes</h4>

                    <div class="table-responsive">
                        <table class="table table-hover" id="tabla_imagenes">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Imagen</th>
                                <th>Titulo</th>
                                <th>Categoria</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="imagen, iter: ${imagenes}">

                                <td th:text="${imagen.id}"></td>
                                <td th:text="${imagen.archivo}"></td>
                                <td th:text="${imagen.titulo}"></td>
                                <td th:text="${imagen.categoria['titulo']}"></td>
                                <td><button class="btn btn-info" style="padding:8px;" th:id="${imagen.id}">Ir a Imagen</button>  <button class="btn btn-danger borrar_imagenes" style="padding:8px;" th:id="${imagen.id}">Eliminar</button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../../misArchivos/js/back/guardaImagen.js"></script>
<script src="../../misArchivos/js/back/muestraPestañas.js"></script>
<script src="../../misArchivos/js/back/datatable.js"></script>
